backup:
  enabled: true
bootstrap:
  initdb:
    database: app
    owner: app
clusterName: demo-postgres
environment: prod
monitoring:
  customQueriesConfigMap: []
  enabled: true
namespace: demo-prod
postgresVersion: "16.1"
postgresql:
  parameters:
    effective_cache_size: 3GB
    max_connections: "300"
    shared_buffers: 1GB
    work_mem: 16MB
replicas: 3
resources:
  limits:
    cpu: "2"
    memory: 4Gi
  requests:
    cpu: "1"
    memory: 2Gi
storage:
  size: 100Gi
  storageClass: standard
tenant: demo
