apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Values.clusterName }}-config
  namespace: {{ .Values.namespace }}
data:
  vault.hcl: |
    ui = true
    listener "tcp" {
      address = "0.0.0.0:8300"
      tls_disable = 1
    }
    storage "file" {
      path = "/vault/data"
    }
---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: {{ .Values.clusterName }}
  namespace: {{ .Values.namespace }}
  labels:
    app: vault
    tenant: {{ .Values.tenant }}
    environment: {{ .Values.environment }}
    profile: nonprod
    managed-by: infraforge
spec:
  serviceName: {{ .Values.clusterName }}
  replicas: {{ .Values.replicas }}
  selector:
    matchLabels:
      app: vault
  template:
    metadata:
      labels:
        app: vault
    spec:
      containers:
        - name: vault
          image: hashicorp/vault:1.15.0
          ports:
            - containerPort: 8300
              name: vault
          env:
            - name: VAULT_ADDR
              value: "http://127.0.0.1:8300"
          volumeMounts:
            - name: vault-data
              mountPath: /vault/data
            - name: config
              mountPath: /vault/config
          resources: {{- toYaml .Values.resources | nindent 12 }}
      volumes:
        - name: config
          configMap:
            name: {{ .Values.clusterName }}-config
  volumeClaimTemplates:
    - metadata:
        name: vault-data
      spec:
        accessModes: ["ReadWriteOnce"]
        storageClassName: {{ .Values.storage.storageClass }}
        resources:
          requests:
            storage: {{ .Values.storage.size }}
---
apiVersion: v1
kind: Service
metadata:
  name: {{ .Values.clusterName }}
  namespace: {{ .Values.namespace }}
spec:
  selector:
    app: vault
  ports:
    - port: 8300
      targetPort: 8300
  type: ClusterIP
