apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "business-app.fullname" . }}
  namespace: {{ .Values.namespace }}
  labels:
    {{- include "business-app.labels" . | nindent 4 }}
spec:
  {{- if not .Values.autoscaling.enabled }}
  replicas: {{ .Values.replicaCount }}
  {{- end }}
  selector:
    matchLabels:
      {{- include "business-app.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "business-app.selectorLabels" . | nindent 8 }}
        tenant: {{ .Values.tenant }}
        environment: {{ .Values.environment }}
    spec:
      containers:
      - name: {{ .Chart.Name }}
        image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
        imagePullPolicy: {{ .Values.image.pullPolicy }}
        ports:
        - name: http
          containerPort: {{ .Values.service.port }}
          protocol: TCP
        {{- if .Values.env }}
        env:
          {{- toYaml .Values.env | nindent 10 }}
        {{- end }}
        resources:
          {{- toYaml .Values.resources | nindent 10 }}
