# Nginx Dev Profile - Minimal resources
replicaCount: 1

image:
  registry: docker.io
  repository: bitnami/nginx
  pullPolicy: IfNotPresent
  tag: "1.25.5-debian-12-r0"

service:
  type: ClusterIP
  port: 80

ingress:
  enabled: false

resources:
  limits:
    cpu: 200m
    memory: 256Mi
  requests:
    cpu: 100m
    memory: 128Mi

autoscaling:
  enabled: false