mongodb:
  members: 1
  version: "6.0.5"
  
  resources:
    requests:
      cpu: 500m
      memory: 1Gi
    limits:
      cpu: 1000m
      memory: 2Gi
  
  storage:
    size: 10Gi
    storageClassName: gp3
