backup:
  enabled: false
bootstrap:
  initdb:
    database: app
    owner: app
clusterName: demo-postgres
environment: dev
monitoring:
  customQueriesConfigMap: []
  enabled: true
namespace: demo-dev
postgresVersion: "16.1"
postgresql:
  parameters:
    effective_cache_size: 512MB
    max_connections: "100"
    shared_buffers: 128MB
    work_mem: 4MB
replicas: 1
resources:
  limits:
    cpu: 500m
    memory: 512Mi
  requests:
    cpu: 100m
    memory: 256Mi
storage:
  size: 10Gi
  storageClass: standard
tenant: demo
