# Observability Stack Kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: monitoring

resources:
  - namespace.yaml
  - prometheus-stack.yaml
  - loki-stack.yaml
  - grafana-dashboards.yaml
  - alerting-rules.yaml
  - service-monitors.yaml

configMapGenerator:
  - name: grafana-dashboards
    files:
      - dashboards/kubernetes-dashboard.json
      - dashboards/platform-overview.json
      - dashboards/application-metrics.json
      - dashboards/cost-analysis.json

secretGenerator:
  - name: grafana-admin
    literals:
      - admin-user=admin
      - admin-password=changeme # Should be replaced with external secret

patches:
  - target:
      kind: Prometheus
      name: kube-prometheus-stack
    patch: |-
      - op: add
        path: /spec/retention
        value: 30d
      - op: add
        path: /spec/storageSpec
        value:
          volumeClaimTemplate:
            spec:
              accessModes: ["ReadWriteOnce"]
              resources:
                requests:
                  storage: 50Gi
              storageClassName: gp3

commonLabels:
  platform.infraforge.io/component: observability
  platform.infraforge.io/managed-by: argocd