kafka:
  replicas: 3
  
  resources:
    requests:
      cpu: 2000m
      memory: 4Gi
    limits:
      cpu: 4000m
      memory: 8Gi
  
  storage:
    size: 100Gi
  
  zookeeper:
    replicas: 3
    storage:
      size: 10Gi
