# MongoDB default values
mongodb:
  architecture: replicaset
  replicaCount: 3

  auth:
    enabled: true
    rootPassword: mongodb123
    databases:
      - documents

  persistence:
    enabled: true
    size: 100Gi
    storageClass: gp3

  resources:
    limits:
      memory: 2Gi
      cpu: 2000m
    requests:
      memory: 1Gi
      cpu: 500m

  metrics:
    enabled: true
    serviceMonitor:
      enabled: true
      interval: 30s