apiVersion: v1
kind: Secret
metadata:
  name: {{ .Name }}-users-secret
  namespace: {{ .Namespace }}
  annotations:
    argocd.argoproj.io/sync-wave: "20"
type: Opaque
stringData:
  MONGODB_BACKUP_USER: backup
  MONGODB_BACKUP_PASSWORD: {{ .BackupPassword | default "backup123456" }}
  MONGODB_CLUSTER_ADMIN_USER: clusterAdmin
  MONGODB_CLUSTER_ADMIN_PASSWORD: {{ .ClusterAdminPassword | default "clusterAdmin123456" }}
  MONGODB_CLUSTER_MONITOR_USER: clusterMonitor
  MONGODB_CLUSTER_MONITOR_PASSWORD: {{ .ClusterMonitorPassword | default "clusterMonitor123456" }}
  MONGODB_USER_ADMIN_USER: userAdmin
  MONGODB_USER_ADMIN_PASSWORD: {{ .UserAdminPassword | default "userAdmin123456" }}
  MONGODB_DATABASE_ADMIN_USER: databaseAdmin
  MONGODB_DATABASE_ADMIN_PASSWORD: {{ .DatabaseAdminPassword | default "databaseAdmin123456" }}
  PMM_SERVER_USER: admin
  PMM_SERVER_PASSWORD: {{ .PMMPassword | default "admin" }}