apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  name: applicationclaims.platform.infraforge.io
spec:
  group: platform.infraforge.io
  versions:
  - name: v1
    served: true
    storage: true
    subresources:
      status: {}
    schema:
      openAPIV3Schema:
        type: object
        properties:
          spec:
            type: object
            properties:
              environment:
                type: string
                enum: ["dev", "staging", "prod"]
              namespace:
                type: string
              owner:
                type: object
                properties:
                  team:
                    type: string
                  email:
                    type: string
                  slack:
                    type: string
              components:
                type: array
                items:
                  type: object
                  properties:
                    type:
                      type: string
                    name:
                      type: string
                    version:
                      type: string
                    size:
                      type: string
              applications:
                type: array
                items:
                  type: object
                  properties:
                    name:
                      type: string
                    repository:
                      type: string
                    version:
                      type: string
                    replicas:
                      type: integer
          status:
            type: object
            properties:
              phase:
                type: string
              applications:
                type: array
                items:
                  type: object
              components:
                type: array
                items:
                  type: object
  scope: Namespaced
  names:
    plural: applicationclaims
    singular: applicationclaim
    kind: ApplicationClaim
    shortNames:
    - appclaim