# ApplicationSet for NonProd Environments
apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: nonprod-apps
  namespace: argocd
spec:
  generators:
    - matrix:
        generators:
          # Environment generator
          - list:
              elements:
                - env: dev
                  namespace: dev
                  wave: "1"
                - env: qa
                  namespace: qa
                  wave: "2"
                - env: sandbox
                  namespace: sandbox
                  wave: "3"
          # Application generator
          - git:
              repoURL: https://github.com/company/gitops-configs
              revision: HEAD
              directories:
                - path: applications/*
  template:
    metadata:
      name: '{{env}}-{{path.basename}}'
      namespace: argocd
      annotations:
        argocd.argoproj.io/sync-wave: '{{wave}}'
    spec:
      project: platform
      source:
        repoURL: https://github.com/company/gitops-configs
        targetRevision: HEAD
        path: '{{path}}'
        helm:
          valueFiles:
            - values.yaml
            - values-{{env}}.yaml
          parameters:
            # Environment specific parameters
            - name: environment
              value: '{{env}}'
            - name: namespace
              value: '{{namespace}}'
            - name: replicaCount
              value: "{{ if eq .env \"dev\" }}1{{ else if eq .env \"qa\" }}2{{ else }}3{{ end }}"
            # Database configuration
            - name: database.enabled
              value: "true"
            - name: database.host
              value: 'postgresql-{{env}}.{{namespace}}.svc.cluster.local'
            - name: database.port
              value: "5432"
            - name: database.name
              value: '{{path.basename}}_{{env}}'
            - name: database.username
              value: '{{path.basename}}'
            # Redis configuration
            - name: redis.enabled
              value: "true"
            - name: redis.host
              value: 'redis-{{env}}.{{namespace}}.svc.cluster.local'
            - name: redis.port
              value: "6379"
      destination:
        server: https://kubernetes.default.svc
        namespace: '{{namespace}}'
      syncPolicy:
        automated:
          prune: true
          selfHeal: true
          allowEmpty: false
        syncOptions:
          - CreateNamespace=true
          - ApplyOutOfSyncOnly=true
        retry:
          limit: 5
          backoff:
            duration: 5s
            factor: 2
            maxDuration: 3m