{{- if eq .Values.type "rabbitmq" }}
apiVersion: rabbitmq.com/v1beta1
kind: RabbitmqCluster
metadata:
  name: {{ include "common.fullname" . }}
  labels:
    {{- include "common.labels" . | nindent 4 }}
  {{- with .Values.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  replicas: {{ .Values.rabbitmq.replicas | default 3 }}

  image: rabbitmq:{{ .Values.rabbitmq.version | default "3.12" }}-management

  resources:
    requests:
      cpu: {{ .Values.rabbitmq.resources.requests.cpu | default "500m" }}
      memory: {{ .Values.rabbitmq.resources.requests.memory | default "1Gi" }}
    limits:
      cpu: {{ .Values.rabbitmq.resources.limits.cpu | default "1000m" }}
      memory: {{ .Values.rabbitmq.resources.limits.memory | default "2Gi" }}

  persistence:
    storage: {{ .Values.rabbitmq.storage.size | default "10Gi" }}
    {{- if .Values.rabbitmq.storage.storageClass }}
    storageClassName: {{ .Values.rabbitmq.storage.storageClass }}
    {{- end }}

  rabbitmq:
    additionalPlugins:
      - rabbitmq_management
      - rabbitmq_prometheus
      - rabbitmq_federation
      - rabbitmq_shovel
    {{- if .Values.rabbitmq.additionalConfig }}
    additionalConfig: |
      {{- .Values.rabbitmq.additionalConfig | nindent 6 }}
    {{- end }}

  service:
    type: ClusterIP

  affinity:
    podAntiAffinity:
      preferredDuringSchedulingIgnoredDuringExecution:
        - weight: 100
          podAffinityTerm:
            labelSelector:
              matchExpressions:
                - key: app.kubernetes.io/name
                  operator: In
                  values:
                    - {{ include "common.name" . }}
            topologyKey: kubernetes.io/hostname
{{- end }}
