apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: ecommerce-platform-dev
  namespace: argocd
spec:
  generators:
    - list:
        elements:
          - app: product-service
            replicas: "2"
            port: "80"
          - app: user-service
            replicas: "2"
            port: "80"
          - app: order-service
            replicas: "3"
            port: "80"
          - app: payment-service
            replicas: "2"
            port: "80"
          - app: notification-service
            replicas: "2"
            port: "80"
          - app: postgres
            replicas: "1"
            port: "5432"
          - app: redis
            replicas: "1"
            port: "6379"
          - app: rabbitmq
            replicas: "1"
            port: "5672"
  template:
    metadata:
      name: 'ecommerce-platform-dev-{{app}}'
      labels:
        platform.infraforge.io/managed: "true"
        platform.infraforge.io/environment: "dev"
        platform.infraforge.io/team: "ecommerce-team"
    spec:
      project: ecommerce-team-dev
      source:
        repoURL: http://chartmuseum.chartmuseum.svc.cluster.local:8080
        chart: common-app
        targetRevision: 1.0.1
        helm:
          valuesObject:
            fullnameOverride: '{{app}}'
            replicaCount: '{{replicas}}'
            image:
              repository: nginx
              tag: "1.27"
              pullPolicy: IfNotPresent
            service:
              type: ClusterIP
              port: '{{port}}'
              targetPort: '{{port}}'
            resources:
              requests:
                memory: 256Mi
                cpu: 100m
              limits:
                memory: 512Mi
                cpu: 250m
            labels:
              platform.infraforge.io/managed: "true"
              platform.infraforge.io/environment: "dev"
              platform.infraforge.io/app: '{{app}}'
      destination:
        server: https://kubernetes.default.svc
        namespace: dev
      syncPolicy:
        automated:
          prune: true
          selfHeal: true
        syncOptions:
          - CreateNamespace=true
